# Ignore node_modules en la raíz del proyecto
node_modules/

# Ignore node_modules en la carpeta client
client/node_modules/

# Ignore node_modules en la carpeta server
server/node_modules/

# Ignore otros archivos comunes
.DS_Store
*.log
*.env

# Ignore archivos y carpetas específicas de sistema operativo o IDEs
*.swp
*.bak
*.tmp
*.~*
.vscode/
.idea/
